// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 2)>, // GPIO P1.2
                <NRF_PSEL(TWIM_SCL, 1, 3)>; 	// GPIO P1.3
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 2)>, // GPIO P1.2
                <NRF_PSEL(TWIM_SCL, 1, 3)>;	// GPIO P1.3
            low-power-enable;
        };
    };
};

arduino_i2c: &i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
    zephyr,concat-buf-size = <4096>;
  
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>; //0x3c is the i2c address of the display controller IC, SSD1306.
        width = <128>; // Width of the display.
        height = <32>; // Height of the display. Change to '64' when using the 128x64 pixel version.
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>; //change to '63' when using the 128x64 pixel version
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
	// add more driver settings here
    };
};
